{% extends "base.html" %} {% block title %}Home{% endblock title %} 
{% block content %}
<h1>
  Welcome {{name}}
<h1 />
  <form action="">
    <div class="mb-3">
      <label class="form-label">Cari Buku:</label>
      <input type="text" name="judul" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
  {% if searchJudul %}Pencarian untuk <strong>{{ searchJudul }}</strong>{% endif %}

  <br />
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for book in books %}
    <div class="col">
      <div class="card">
        <img alt="" class="card-img-top" src="{{ book.gambar.url }}" />
        <div class="card-body">
          <h5 class="card-title fw-bold">
            {{ book.judul }} | {{ book.pengarang }} | {{book.tanggal_rilis|date:"d-m-Y" }}
          </h5>
          <p class="card-text">
            {{ book.sinopsis }}
            <br />
            {{ book.isbn }} | {{ book.jumlah_halaman }} | {{ book.publisher.nama}}
          </p>
          <a href="{% url 'detail' book.id %}">
            <h5 class="card-title fw-bold">detail</h5>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endblock content %}

